includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max

    paths:
        - src

    excludePaths:

    treatPhpDocTypesAsCertain: false

    tmpDir: /tmp/phpstan

    ignoreErrors:
        # Traits are used by external user models, not directly in this package
        - identifier: trait.unused
